body {
  font-family: "Roboto", sans-serif;
  background-color: #f15062;
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-size: large;
  margin: 0;
  padding: 0;
  text-align: center;
}

.wrapper {
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 50vw;
  background-color: #ffe4e3;
  border-radius: 25px;
  padding: 3rem;
}

h1 {
  font-family: "Sigmar One", sans-serif;
  font-size: 300%;
}

#refreshContainer {
  margin-left: 80%;
}

button {
  background-color: #00becb;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 16px;
  margin: auto;
  text-align: center;
}

.main-btn {
  font-weight: bold;
  font-size: medium;
}

.choices {
  padding: 1rem;
}

.choice {
  font-size: medium;
  margin: 0.5rem;
}

.choice:hover,
.choice:focus,
.main-btn:hover,
.main-btn:focus {
  background-color: #73dbe2;
}
.main-btn:disabled,
.choice:disabled {
  background-color: #73dbe2;
  opacity: 66%;
  cursor: not-allowed;
}

img {
  padding: 0.5rem;
  margin: auto;
  display: block;
}

#result {
  font-style: italic;
}

#factoid {
  font-size: smaller;
}

@media screen and (max-width: 950px) {
  .wrapper {
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 1.5rem;
  }

  h1 {
    font-size: 200%;
  }

  h2 {
    font-size: 120%;
  }

  .choices {
    display: flex;
    flex-direction: column;
  }

  #refreshContainer {
    margin: 0;
  }

  #quiz {
    width: 50vw;
  }

  img {
    width: 100%;
  }
}
